<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head') %>
  <title>example</title>
</head>
<body>
  <p>
    <a href="/elsewhere" id="elsewhereLink">example partial!</a> 
  </p>
  
</body>
</html>