<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head') %>
  <title>example</title>
</head>
<body>
  <h1>
    <a href="/elsewhere" id="elsewhereLink">elsewhere!</a> 
  </h1>
  
</body>
</html>